In [6]:
import numpy as np
import pandas as pd
import os
import json
from glob import glob
from pandas.io.json import json_normalize

In [4]:
# locate all .csv.gz (compressed) data files

PATH = "/Users/esrieves/Documents/school/Research/foot_traffic/downloads/big5_cities"
EXT = "core_poi-patterns.csv.gz"

all_csv_files = [file
                for path, subdir, files in os.walk(PATH)
                for file in glob(os.path.join(path, EXT))]

# print(all_csv_files)

In [3]:
# read each compressed csv and add all to one data frame

all_dfs = (pd.read_csv(f,compression="gzip") for f in all_csv_files)
df = pd.concat(all_dfs, ignore_index = True)

In [4]:
df = pd.DataFrame(df)

In [5]:
df.head()

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
0,22v-224@8fc-9v8-y7q,NaN,Julie Sample RE MAX Professional Group,NaN,NaN,Offices of Real Estate Agents and Brokers,Offices of Real Estate Agents and Brokers,NaN,531210.0,29.947698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22f-222@5z5-3rq-4sq,NaN,Ninfa's Flowers & Gifts,NaN,NaN,Florists,Florists,NaN,453110.0,34.034561,...,10.0,"{""<5"":7,""5-10"":55,""11-20"":27,""21-60"":21,""61-12...","{""Northgate González Markets"":6,""McDonald's"":6...","{""McDonald's"":51,""Target"":35,""The Home Depot"":...","[4,4,3,3,3,4,11,11,14,8,10,11,10,19,12,7,9,9,1...","{""Monday"":9,""Tuesday"":14,""Wednesday"":13,""Thurs...","{""android"":71,""ios"":29}",6.037205e+10,"{""06037204700"":7,""06037480804"":7,""06037208802""...","{""060372047001"":7,""060710038011"":4,""0603730100..."
2,22r-222@5z5-3r4-7wk,NaN,Melrose Station,NaN,NaN,Drinking Places (Alcoholic Beverages),Drinking Places (Alcoholic Beverages),"Bar or Pub,Cocktail Lounge,Late Night,Tapas",722410.0,34.083452,...,40.0,"{""<5"":0,""5-10"":5,""11-20"":6,""21-60"":11,""61-120""...","{""Jimmy John's"":6,""Chevron"":3,""Lowe's"":3,""The ...","{""Starbucks"":41,""7-Eleven"":32,""Mobil"":27,""Ralp...","[0,0,1,0,0,0,0,2,4,6,4,2,12,12,8,10,6,5,5,4,2,...","{""Monday"":7,""Tuesday"":9,""Wednesday"":4,""Thursda...","{""android"":10,""ios"":11}",6.037192e+10,"{""06037190201"":5,""06037701701"":4,""06037901101"":4}","{""060372315001"":4}"
3,226-222@8fc-fbw-835,NaN,ACE Cash Express,SG_BRAND_1f80a87e178e0d5e04c8217210b2b9cb,ACE Cash Express,Activities Related to Credit Intermediation,Other Activities Related to Credit Intermediation,NaN,522390.0,29.684863,...,60.0,"{""<5"":0,""5-10"":2,""11-20"":1,""21-60"":2,""61-120"":...","{""24 Hour Fitness"":60,""Subway"":30,""Chevron"":20...","{""Chevron"":67,""Popeyes Louisiana Kitchen"":67,""...","[1,1,0,0,0,0,0,0,0,0,0,1,1,0,1,1,3,3,1,3,3,2,2,2]","{""Monday"":2,""Tuesday"":2,""Wednesday"":0,""Thursda...","{""android"":4,""ios"":0}",4.820133e+11,{},{}
4,227-22q@5pw-2n9-wzf,zzw-224@5pw-2n9-whq,Auntie Anne's,SG_BRAND_ce748140d1750c3620f9e803e4af0170,Auntie Anne's,Restaurants and Other Eating Places,Snack and Nonalcoholic Beverage Bars,"Snacks,Counter Service,Cafeteria,Truck or Cart...",722515.0,41.757573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
list(df.columns)

['placekey',
 'parent_placekey',
 'location_name',
 'safegraph_brand_ids',
 'brands',
 'top_category',
 'sub_category',
 'category_tags',
 'naics_code',
 'latitude',
 'longitude',
 'street_address',
 'city',
 'region',
 'postal_code',
 'iso_country_code',
 'phone_number',
 'open_hours',
 'opened_on',
 'closed_on',
 'tracking_closed_since',
 'geometry_type',
 'date_range_start',
 'date_range_end',
 'raw_visit_counts',
 'raw_visitor_counts',
 'visits_by_day',
 'visitor_home_cbgs',
 'visitor_country_of_origin',
 'distance_from_home',
 'median_dwell',
 'bucketed_dwell_times',
 'related_same_day_brand',
 'related_same_month_brand',
 'popularity_by_hour',
 'popularity_by_day',
 'device_type',
 'poi_cbg',
 'visitor_home_aggregation',
 'visitor_daytime_cbgs']

In [ ]:
df = df[["placekey","date_range_start","date_range_end","location_name","naics_code","visitor_home_cbgs","poi_cbg","bucketed_dwell_times","city"]].dropna(subset = ["visitor_home_cbgs","poi_cbg","placekey"])

df.head()

In [ ]:
# remove ".0" from poi_cbg, naics code
df["poi_cbg"] = df["poi_cbg"].astype(str).str[:-2]

df["naics_code"] = df["naics_code"].astype(str).str[:-2]


df.head()

In [ ]:
# add leading zero to poi_cbg
df["poi_cbg"] = df["poi_cbg"].astype(str).apply(lambda x:x.zfill(12))

df.head()

#df_test = df[,:5]

In [ ]:
df

In [10]:
#import findspark
#findspark.init()

# Create spark session

from pyspark.sql import SparkSession
# had 50g, 70g
spark = SparkSession.builder.appName("json unpack").config("spark.driver.memory","5g").config("spark.executor.memory","5g").getOrCreate()

In [11]:
sparkDF = spark.createDataFrame(df)

In [12]:
#sparkDF.show()

+-------------------+--------------------+----------+--------------------+------------+--------------------+-----------+
|           placekey|       location_name|naics_code|   visitor_home_cbgs|     poi_cbg|bucketed_dwell_times|       city|
+-------------------+--------------------+----------+--------------------+------------+--------------------+-----------+
|22f-222@5z5-3rq-4sq|Ninfa's Flowers &...|    453110|{"060372047001":7...|060372047001|{"<5":7,"5-10":55...|Los Angeles|
|22r-222@5z5-3r4-7wk|     Melrose Station|    722410|{"060379011011":4...|060371920023|{"<5":0,"5-10":5,...|Los Angeles|
|226-222@8fc-fbw-835|    ACE Cash Express|    522390|  {"482013321002":4}|482013321002|{"<5":0,"5-10":2,...|    Houston|
|23w-222@5zb-xb9-zj9| Sameera Solanki DDS|    621210|{"040130927111":4...|040131067012|{"<5":0,"5-10":1,...|    Phoenix|
|22r-222@627-s8j-94v|       Blink Fitness|    713940|{"360594067021":5...|360610091002|{"<5":0,"5-10":7,...|   New York|
|224-223@5z4-zvh-vcq|    UCLA Thrift Shop|    453310|{"060372673001":6...|060372673001|{"<5":2,"5-10":12...|Los Angeles|
|zzw-222@5zb-xbs-9zz|Pentecostal Missi...|    813110|{"040131070002":1...|040131070002|{"<5":0,"5-10":15...|    Phoenix|
|22b-223@8fc-8tn-2zf|    Memorial Hermann|    621111|  {"480396614004":4}|482013505003|{"<5":0,"5-10":0,...|    Houston|
|224-223@5pw-67y-pd9|      Dream's Market|    445110|{"170318430001":4...|170312912002|{"<5":3,"5-10":10...|    Chicago|
|229-222@8ts-d34-r6k|      Charley's Auto|    811111|  {"040131164001":4}|040131159002|{"<5":0,"5-10":2,...|    Phoenix|
|222-222@5pw-6bt-8qf|       Green's Foods|    445110|{"170318344003":1...|170318344003|{"<5":7,"5-10":63...|    Chicago|
|22f-222@627-s8j-syv|       Great Sichuan|    722511|  {"360050152002":4}|360610066003|{"<5":1,"5-10":1,...|   New York|
|232-222@627-s4t-4y9|Good Taste Restau...|    722511|{"360610223013":9...|360610223013|{"<5":12,"5-10":7...|   New York|
|zzw-222@8fc-9tb-t5f|Northchase Shoppi...|    531120|{"482015511003":1...|482015511003|{"<5":45,"5-10":3...|    Houston|
|22w-222@5z5-3rs-n5z|        Ben Textiles|    451130|{"410319602022":6...|060372260021|{"<5":2,"5-10":11...|Los Angeles|
|22g-222@5pw-6q2-mzf|Restaurant Cuetza...|    722511|{"170310102012":1...|170310102022|{"<5":5,"5-10":41...|    Chicago|
|zzw-222@8fc-ffq-7h5|    Johnstone Supply|    423730|{"482015401003":5...|482015218001|{"<5":4,"5-10":44...|    Houston|
|228-223@8fc-fbx-qj9|KC's Seafood & Grill|    722511|{"482014204001":4...|482013330001|{"<5":3,"5-10":15...|    Houston|
|zzw-228@8fc-fbg-m49|         ULTA Beauty|    446120|  {"482014318011":4}|482014319002|{"<5":0,"5-10":0,...|    Houston|
|223-222@5pw-623-wc5|          Art Museum|    712110|{"170313201002":6...|170313201002|{"<5":2,"5-10":21...|    Chicago|
+-------------------+--------------------+----------+--------------------+------------+--------------------+-----------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import udf, explode
from pyspark.sql.types import *
#import json

def parser(element):
  return json.loads(element)

jsonudf = udf(parser, MapType(StringType(), IntegerType()))

visitor_home_cbgs_parsed = sparkDF.withColumn("parsed_visitor_home_cbgs", jsonudf("visitor_home_cbgs"))
visitor_home_cbgs_exploded = visitor_home_cbgs_parsed.select("placekey", explode("parsed_visitor_home_cbgs"))

display(visitor_home_cbgs_exploded.selectExpr("placekey as placekey", "key as visitor_home_cbg","value as visitor_count"))

DataFrame[placekey: string, visitor_home_cbg: string, visitor_count: int]

In [16]:
visitor_home_cbgs_exploded.show()

+-------------------+------------+-----+
|           placekey|         key|value|
+-------------------+------------+-----+
|22f-222@5z5-3rq-4sq|060377001015|    4|
|22f-222@5z5-3rq-4sq|060372088021|    4|
|22f-222@5z5-3rq-4sq|060372046001|    4|
|22f-222@5z5-3rq-4sq|060373010003|    4|
|22f-222@5z5-3rq-4sq|060372046002|    4|
|22f-222@5z5-3rq-4sq|060375041021|    4|
|22f-222@5z5-3rq-4sq|060375312022|    4|
|22f-222@5z5-3rq-4sq|060372270101|    4|
|22f-222@5z5-3rq-4sq|060372035002|    4|
|22f-222@5z5-3rq-4sq|060375511023|    4|
|22f-222@5z5-3rq-4sq|060375324001|    4|
|22f-222@5z5-3rq-4sq|060372015031|    4|
|22f-222@5z5-3rq-4sq|060372037101|    4|
|22f-222@5z5-3rq-4sq|060372043004|    4|
|22f-222@5z5-3rq-4sq|060374033182|    4|
|22f-222@5z5-3rq-4sq|060372360004|    4|
|22f-222@5z5-3rq-4sq|060372047001|    7|
|22f-222@5z5-3rq-4sq|060372087201|    4|
|22f-222@5z5-3rq-4sq|060372118031|    4|
|22f-222@5z5-3rq-4sq|060374818003|    4|
+-------------------+------------+-----+
only showing top 20 rows

In [17]:
# create new spark df grouped by the sender CBG, summing the # of visitors for each cbg
sender_cbgs = visitor_home_cbgs_exploded.groupby("key").sum("value")

In [18]:
#sender_cbgs.show()

KeyboardInterrupt:

In [ ]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled","true")

In [ ]:
#parsed_home_cbgs = visitor_home_cbgs_exploded.toPandas()

In [16]:
#parsed_home_cbgs = parsed_home_cbgs.rename(columns={"key":"sender_cbg","value":"num_visitors"})

In [17]:
#parsed_home_cbgs

                     placekey    sender_cbg  num_visitors
0         229-222@5z4-zwk-rzf  060372760004             4
1         229-222@5z4-zwk-rzf  060372314001             4
2         229-222@5z4-zwk-rzf  060376020021             4
3         229-222@5z4-zwk-rzf  060650419111             4
4         zzw-223@5z6-2mt-qcq  060590525181             4
...                       ...           ...           ...
51401846  zzw-224@5z4-rxn-85f  060590867012             4
51401847  zzw-224@5z4-rxn-85f  060590865011             4
51401848  zzw-224@5z4-rxn-85f  060590866023             6
51401849  zzw-224@5z4-rxn-85f  060590018011             4
51401850  zzw-224@5z4-rxn-85f  060590758053             4

[51401851 rows x 3 columns]

In [18]:
#ft_traffic = df.merge(parsed_home_cbgs, how="inner",on="placekey")

In [1]:
# reorder columns
#ft_traffic = ft_traffic[["sender_cbg","poi_cbg","num_visitors","naics_code"]]

NameError: name 'ft_traffic' is not defined