In [13]:
import numpy as np
import pandas as pd
import os
import json
from glob import glob
from pandas.io.json import json_normalize

In [14]:
# locate all .csv.gz (compressed) data files

PATH = "/Users/esrieves/Documents/school/Research/foot_traffic/downloads/big5_cities"
EXT = "core_poi-patterns.csv.gz"

all_csv_files = [file
                for path, subdir, files in os.walk(PATH)
                for file in glob(os.path.join(path, EXT))]

# print(all_csv_files)

In [15]:
# read each compressed csv and add all to one data frame

all_dfs = (pd.read_csv(f,compression="gzip") for f in all_csv_files)
df = pd.concat(all_dfs, ignore_index = True)

In [16]:
df = pd.DataFrame(df)

In [5]:
df.head()

,placekey,parent_placekey,location_name,safegraph_brand_ids,brands,top_category,sub_category,category_tags,naics_code,latitude,...,median_dwell,bucketed_dwell_times,related_same_day_brand,related_same_month_brand,popularity_by_hour,popularity_by_day,device_type,poi_cbg,visitor_home_aggregation,visitor_daytime_cbgs
0,22v-224@8fc-9v8-y7q,NaN,Julie Sample RE MAX Professional Group,NaN,NaN,Offices of Real Estate Agents and Brokers,Offices of Real Estate Agents and Brokers,NaN,531210.0,29.947698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22f-222@5z5-3rq-4sq,NaN,Ninfa's Flowers & Gifts,NaN,NaN,Florists,Florists,NaN,453110.0,34.034561,...,10.0,"{""<5"":7,""5-10"":55,""11-20"":27,""21-60"":21,""61-12...","{""Northgate González Markets"":6,""McDonald's"":6...","{""McDonald's"":51,""Target"":35,""The Home Depot"":...","[4,4,3,3,3,4,11,11,14,8,10,11,10,19,12,7,9,9,1...","{""Monday"":9,""Tuesday"":14,""Wednesday"":13,""Thurs...","{""android"":71,""ios"":29}",6.037205e+10,"{""06037204700"":7,""06037480804"":7,""06037208802""...","{""060372047001"":7,""060710038011"":4,""0603730100..."
2,22r-222@5z5-3r4-7wk,NaN,Melrose Station,NaN,NaN,Drinking Places (Alcoholic Beverages),Drinking Places (Alcoholic Beverages),"Bar or Pub,Cocktail Lounge,Late Night,Tapas",722410.0,34.083452,...,40.0,"{""<5"":0,""5-10"":5,""11-20"":6,""21-60"":11,""61-120""...","{""Jimmy John's"":6,""Chevron"":3,""Lowe's"":3,""The ...","{""Starbucks"":41,""7-Eleven"":32,""Mobil"":27,""Ralp...","[0,0,1,0,0,0,0,2,4,6,4,2,12,12,8,10,6,5,5,4,2,...","{""Monday"":7,""Tuesday"":9,""Wednesday"":4,""Thursda...","{""android"":10,""ios"":11}",6.037192e+10,"{""06037190201"":5,""06037701701"":4,""06037901101"":4}","{""060372315001"":4}"
3,226-222@8fc-fbw-835,NaN,ACE Cash Express,SG_BRAND_1f80a87e178e0d5e04c8217210b2b9cb,ACE Cash Express,Activities Related to Credit Intermediation,Other Activities Related to Credit Intermediation,NaN,522390.0,29.684863,...,60.0,"{""<5"":0,""5-10"":2,""11-20"":1,""21-60"":2,""61-120"":...","{""24 Hour Fitness"":60,""Subway"":30,""Chevron"":20...","{""Chevron"":67,""Popeyes Louisiana Kitchen"":67,""...","[1,1,0,0,0,0,0,0,0,0,0,1,1,0,1,1,3,3,1,3,3,2,2,2]","{""Monday"":2,""Tuesday"":2,""Wednesday"":0,""Thursda...","{""android"":4,""ios"":0}",4.820133e+11,{},{}
4,227-22q@5pw-2n9-wzf,zzw-224@5pw-2n9-whq,Auntie Anne's,SG_BRAND_ce748140d1750c3620f9e803e4af0170,Auntie Anne's,Restaurants and Other Eating Places,Snack and Nonalcoholic Beverage Bars,"Snacks,Counter Service,Cafeteria,Truck or Cart...",722515.0,41.757573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
list(df.columns)

['placekey',
 'parent_placekey',
 'location_name',
 'safegraph_brand_ids',
 'brands',
 'top_category',
 'sub_category',
 'category_tags',
 'naics_code',
 'latitude',
 'longitude',
 'street_address',
 'city',
 'region',
 'postal_code',
 'iso_country_code',
 'phone_number',
 'open_hours',
 'opened_on',
 'closed_on',
 'tracking_closed_since',
 'geometry_type',
 'date_range_start',
 'date_range_end',
 'raw_visit_counts',
 'raw_visitor_counts',
 'visits_by_day',
 'visitor_home_cbgs',
 'visitor_country_of_origin',
 'distance_from_home',
 'median_dwell',
 'bucketed_dwell_times',
 'related_same_day_brand',
 'related_same_month_brand',
 'popularity_by_hour',
 'popularity_by_day',
 'device_type',
 'poi_cbg',
 'visitor_home_aggregation',
 'visitor_daytime_cbgs']

In [17]:
df = df[["placekey","date_range_start","date_range_end","location_name","naics_code","visitor_home_cbgs","poi_cbg","bucketed_dwell_times","city"]].dropna(subset = ["visitor_home_cbgs","poi_cbg","placekey"])

#df.head()

In [18]:
# remove ".0" from poi_cbg, naics code
df["poi_cbg"] = df["poi_cbg"].astype(str).str[:-2]

df["naics_code"] = df["naics_code"].astype(str).str[:2]


#df.head()

In [19]:
# add leading zero to poi_cbg
df["poi_cbg"] = df["poi_cbg"].astype(str).apply(lambda x:x.zfill(12))

#df.head()

#df_test = df[,:5]

In [ ]:
df

In [20]:
#import findspark
#findspark.init()

# Create spark session

from pyspark.sql import SparkSession
# had 50g, 70g
spark = SparkSession.builder.appName("json unpack").config("spark.driver.memory","50g").config("spark.executor.memory","50g").getOrCreate()

In [21]:
sparkDF = spark.createDataFrame(df)

In [ ]:
sparkDF.show()

In [22]:
from pyspark.sql.functions import udf, explode
from pyspark.sql.types import *
#import json

def parser(element):
  return json.loads(element)

jsonudf = udf(parser, MapType(StringType(), IntegerType()))

visitor_home_cbgs_parsed = sparkDF.withColumn("parsed_visitor_home_cbgs", jsonudf("visitor_home_cbgs"))
visitor_home_cbgs_exploded = visitor_home_cbgs_parsed.select("placekey", "poi_cbg", "naics_code", "date_range_start", "date_range_end", "city", explode("parsed_visitor_home_cbgs"))

display(visitor_home_cbgs_exploded.selectExpr("placekey as placekey","key as visitor_home_cbg","value as visitor_count"))

DataFrame[placekey: string, visitor_home_cbg: string, visitor_count: int]

In [14]:
visitor_home_cbgs_exploded.show()

+-------------------+------------+----------+--------------------+--------------------+-----------+------------+-----+
|           placekey|     poi_cbg|naics_code|    date_range_start|      date_range_end|       city|         key|value|
+-------------------+------------+----------+--------------------+--------------------+-----------+------------+-----+
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060377001015|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372088021|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372046001|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060373010003|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372046002|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060375041021|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060375312022|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372270101|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372035002|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060375511023|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060375324001|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372015031|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372037101|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372043004|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060374033182|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372360004|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372047001|    7|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372087201|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060372118031|    4|
|22f-222@5z5-3rq-4sq|060372047001|        45|2020-04-01T00:00:...|2020-05-01T00:00:...|Los Angeles|060374818003|    4|
+-------------------+------------+----------+--------------------+--------------------+-----------+------------+-----+
only showing top 20 rows

In [23]:
# create new spark df grouped by the sender CBG, summing the # of visitors for each cbg
sender_cbgs = visitor_home_cbgs_exploded.groupby(["key","poi_cbg","date_range_end","naics_code"]).sum("value")

In [ ]:
sender_cbgs.repartition(10).write.csv("/Users/esrieves/Documents/school/Research/foot_traffic/downloads/clean_data")

In [17]:
#sender_cbgs.show()

In [ ]:
#parsed_home_cbgs = visitor_home_cbgs_exploded.toPandas()

In [16]:
#parsed_home_cbgs = parsed_home_cbgs.rename(columns={"key":"sender_cbg","value":"num_visitors"})

In [17]:
#parsed_home_cbgs

                     placekey    sender_cbg  num_visitors
0         229-222@5z4-zwk-rzf  060372760004             4
1         229-222@5z4-zwk-rzf  060372314001             4
2         229-222@5z4-zwk-rzf  060376020021             4
3         229-222@5z4-zwk-rzf  060650419111             4
4         zzw-223@5z6-2mt-qcq  060590525181             4
...                       ...           ...           ...
51401846  zzw-224@5z4-rxn-85f  060590867012             4
51401847  zzw-224@5z4-rxn-85f  060590865011             4
51401848  zzw-224@5z4-rxn-85f  060590866023             6
51401849  zzw-224@5z4-rxn-85f  060590018011             4
51401850  zzw-224@5z4-rxn-85f  060590758053             4

[51401851 rows x 3 columns]

In [18]:
#ft_traffic = df.merge(parsed_home_cbgs, how="inner",on="placekey")